[Unit]
Description=Job that runs Kodi
After = systemd-user-sessions.service network.target sound.target mariadb.service

[Service]
User=kodi
Group = kodi
Type = simple
ExecStart = /usr/local/sbin/kodi-autostart
Restart = on-abort
RestartSec=5s

[Install]
WantedBy = multi-user.target
